.end-turn {
  position: absolute;
  bottom: 300px;
  right: 20px;
}
.exit {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.hand {
  position: absolute;
  bottom: 20px;
  left: 550px;
}
.player-bank {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.self-player-display {
  position: absolute;
  bottom: 20px;
  right: 180px;
}
.deck {
  position: absolute;
  top: 20px;
  right: 10px;
}
.self-city {
  position: absolute;
  top: 10px;
  left: 530px;
}
.game-bank {
  position: absolute;
  top: 10px;
  right: 100px;
}
.enlarged-card {
  position: absolute;
  top: 220px;
  left: 720px;
}
.game-player-list {
  position: absolute;
  top: 10px;
  left: 10px;
}
.mini-character-bar {
  position: absolute;
  bottom: 20px;
  left: 220px;
}
.game-log {
  top: 220px;
  right: 70px;
}