.game-title {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 5em;
  color: yellow;
  text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
  margin-top: 15px;
  margin-bottom: 60px
}
.main-menu {
  margin-top: 30px;
}