.code {
  position: absolute;
  top: 20px;
  right: 200px;
}
.start {
  position: absolute;
  bottom: 400px;
  right: 280px;
}
.exit {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.ready {
  position: absolute;
  bottom: 20px;
  left: 300px;
}